<div id="modal-backdrop" class="hidden"></div>
    <div id="create-item-modal" class="hidden">
      <div class="modal-dialog">

        <div class="modal-header">
          <h3>Share Your Thought with Books~</h3>
          <button type="button" class="modal-close-button">&times;</button>
        </div>

        <div class="modal-body">
          <div class="item-input-element">
            <label for="item-text-input">Title</label>
            <input type="text" id="item-name-input">
          </div>
          <div class="item-input-element">
            <label for="item-text-input">Book Name</label>
            <input type="text" id="item-locationName-input">
          </div>
          <div class="item-input-element">
            <label for="item-text-input">Content</label>
            <textarea id="item-description-input"></textarea>
          </div>
          <div class="item-input-element">
            <label for="item-url-input">Photo URL</label>
            <input type="url" id="item-image-input">
          </div>

        <div class="modal-footer">
          <button type="button" class="modal-cancel-button">Cancel</button>
          <button type="button" class="modal-accept-button">Share Your Thought</button>
        </div>

      </div>
    </div>
</div>
