    <header>

      <!-- The <i>  <i class="fa fa-hand-lizard-o"> tag below includes the bullhorn icon from Font Awesome -->

      <nav class="navbar">

        <ul class="navlist">
          <li class="navitem site-title"><a href="/"><strong>Book Lover</strong></a></li>
          <li class="navitem navlink"><a href="/scifiandfantasy">Sci-Fi & Fantasy</a></li>
          <li class="navitem navlink"><a href="/mysteryandsuspense">Mystery & Suspense</a></li>
          <li class="navitem navlink"><a href="/literatureandfiction">Literature & Fiction</a></li>
          <li class="navitem navlink"><a href="/biographiesandmemoirs">Biographies & Memoirs</a></li>
          <li class="navitem navlink"><a href="/artsandphotographgy">Arts & Photography</a></li>
        </ul>

        <div class="navbar-search-container">
            <div class="navbar-search">
              <input type="text" id="navbar-search-input" placeholder="Search...">
              <button type="button" id="navbar-search-button"><i class="fa fa-search"></i></button>
            </div>
      </div>

      </nav>

    </header>
