<section class="share-container">
        <div class="share-content">
          <p>Sharing Your Thought with Your Exciting Book!</p>
        </div>
        <div class="share-button">
          <button type="button" id="create-item-button"><i class="fa fa-plus"></i></button>
        </div>
    </section>
