<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Book Lover</title>

    <!-- This is a stylesheet that includes the font you should use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">

    <!-- This is a 3rd-party stylesheet for Font Awesome: http://fontawesome.io/ -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen">

    <link rel="stylesheet" href="/style.css" media="screen">

  </head>
  <body>

    {{{body}}}

  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.runtime.js"></script>
  <script src="/itemTemplate.js"></script>
  <script src="/itemPhotoTemplate.js"></script>
  <script src="/index.js"></script>

</html>
